# Generate stores & customers for the demo

## Setup the environment

### Install packages

In [2]:
!pip install faker
!pip install pymorton
!pip install v3io==0.1.1

Requirement already satisfied: faker in /User/.pythonlibs/lib/python3.6/site-packages (1.0.5)
Requirement already satisfied: text-unidecode==1.2 in /User/.pythonlibs/lib/python3.6/site-packages (from faker) (1.2)
Requirement already satisfied: python-dateutil>=2.4 in /conda/lib/python3.6/site-packages (from faker) (2.8.0)
Requirement already satisfied: six>=1.10 in /conda/lib/python3.6/site-packages (from faker) (1.12.0)
Requirement already satisfied: pymorton in /User/.pythonlibs/lib/python3.6/site-packages (1.0.5)

### Define environment variables

In [212]:
NUMBER_OF_STORES=500
STORES_TABLE='stores'
ACCURACY=20
BASE_ACCURACY=14

## Function code

### imports

In [274]:
import logging
import os
import pickle
import random
import itertools

# Demo
import pandas as pd
import pymorton as pm
from faker import Faker
from faker.providers import BaseProvider

# DB
import v3io as v3c
import v3io_frames as v3f

### Location provider

In [215]:
class LocationProvider(BaseProvider):
    '''
    Creates locations within base_location

    Uses QuadTree for Geohashing
        @{http://tech.taskrabbit.com/blog/2015/06/09/elasticsearch-geohash-vs-geotree/}
        @{http://mapzen.github.io/leaflet-spatial-prefix-tree/}
        @{http://blog.notdot.net/2009/11/Damn-Cool-Algorithms-Spatial-indexing-with-Quadtrees-and-Hilbert-Curves}
    '''    
    def location(self, location_base: str, base_acc=10, acc=20):
        coordinates = location_base[:base_acc]
        for i in range(acc-len(coordinates)):
            coordinates += str(random.randint(0, 3))
        return coordinates

Add the location provider as a faker provider

In [216]:
faker = Faker()
faker.add_provider(LocationProvider)

### Define scenario environment (locations)

In [303]:
london_city = (51.514926, -0.089580)
london_city_south = (51.501593, -0.094942)
london_west = (51.512309, -0.128966)
london_south_west = (51.495022, -0.162268)

london_coordinates = []
london_coordinates.append(london_city)
london_coordinates.append(london_city_south)
london_coordinates.append(london_west)
london_coordinates.append(london_south_west)

london_coordinates_qt = list(map(lambda cooridnate: pm.interleave_latlng(*cooridnate), london_coordinates))
london_coordinates_qt

['03311311313011311011000321002320',
 '03311311311233323013031101320003',
 '03311311313010023000032330133111',
 '03311311311222300331010333220231']

### Define Store class

In [219]:
class Store():
    def __init__(self, store_id: int, name: str, location: str):
        self.store_id = store_id if store_id is not None else random.randint(1, int(os.genev('NUMBER_OF_STORES', 500)))
        self.location = location
        self.store_name = name
    
    def json(self):
        json_store = {
            'id': self.store_id,
            'name': self.store_name,
            'location': self.location
        }
        return json_store

In [304]:
def create_stores(faker, number_of_stores: int=500):
    remaining = number_of_stores
    stores = []
    while remaining > 0:
        # Create stores
        stores_batch = [Store(faker.msisdn(), faker.company(), faker.location(random.choice(london_coordinates_qt), BASE_ACCURACY, ACCURACY)).json() 
              for i in range(remaining)]
        
        # Count for duplicate locations
        locations = list(map(lambda store: store['location'], stores_batch))
        locations = list(dict.fromkeys(locations))
        remaining -= len(locations)
        
        # Update stores list
        stores.append(stores_batch)

    stores = list(itertools.chain.from_iterable(stores))
    stores = pd.DataFrame.from_records(stores)
    stores = stores.set_index(['location'])
    stores = stores[~stores.index.duplicated(keep='first')]
    return stores

In [305]:
stores = create_stores(faker, NUMBER_OF_STORES)
stores.head(5)

                                 id                        name
location
03311311311233012230  2793819899349                   Jones LLC
03311311311233133123  9677713513610   Thompson, Jones and White
03311311313011033100  4407028136334               Jackson-Smith
03311311313011120331  5466349386394                   Smith Inc
03311311313011220201  1008467073137  Burgess, Greene and Rivera

### Upload to DB

In [224]:
client = v3f.Client('http://'+os.getenv('V3IO_FRAMESD'))

In [301]:
# client.delete('kv', STORES_TABLE)
client.write('kv', STORES_TABLE, stores)

{'num_frames': 1, 'num_rows': 500}

In [302]:
client.read('kv', STORES_TABLE)

                                 id                            name
__name
03311311313010131133  7183910721301     Walker, Robertson and Moore
03311311313011233230  8017707548500                       Perry-Lee
03311311311222333012  1151444597730      Horton, Phillips and Blair
03311311313011320300  0092378625034                     Carlson LLC
03311311311222203223  4676773693752    Johnson, Hopkins and Ballard
03311311313010231211  6967390061337                    Walker-Lopez
03311311313011132322  9378889406089         Mann, Myers and Bridges
03311311311233301011  6260797135382   Nicholson, Smith and Hamilton
03311311311222011302  6086073120471                     Boone Group
03311311313011202333  1433052581417                  Black-Williams
03311311313010302112  6940150708522                     Hayes-White
03311311311222223210  7432690725297                 Norris and Sons
03311311311222103012  6690963935267                  Melendez Group
03311311311233332222  9344936549206                    Thompson LLC
03311311311222333302  2595466295227                 Carrillo-Miller
03311311313011121123  5842046575766                     Miller-Cole
03311311313010311032  4485738221581                 Wright and Sons
03311311313011003301  7675524324846                       Joyce Inc
03311311313010320331  5899116129250                   Donaldson Ltd
03311311311222030021  3952740270881                   Pacheco Group
03311311313010100031  1208844933233        Henry, Watkins and Perez
03311311313010320220  5478646100682                    Holmes-Lewis
03311311311222100300  9135742987546                    Turner Group
03311311311222213131  3928255042790           Smith, Cruz and Keith
03311311311233012010  7961651682788       Flynn, Rice and Henderson
03311311313011213123  3311743344747                      Rivera PLC
03311311313011321313  8382626006558                       Smith Ltd
03311311311222000102  4377551029015            Rodriguez-Harrington
03311311311233001331  0682070853534                      Taylor Inc
03311311313010313121  8873207275306                        Barr PLC
...                             ...                             ...
03311311311233033301  6577895354037                    Morgan-James
03311311311222030003  6858038382087                       Brown Ltd
03311311313010103322  6825374558389                      Choi Group
03311311313010030110  0382213294524                      Oliver LLC
03311311311233233011  6474269980220     Rodriguez, Olson and Nguyen
03311311313011101001  2498495415772       Hughes, Dixon and Morales
03311311313010210123  0102941545727          Sims, Olson and French
03311311311222310023  2790671537011                      Peters Ltd
03311311311222012313  4843025588335                        Hall PLC
03311311311233010111  3109013816891                      Galvan PLC
03311311313010313112  1299554674885                       Perez Ltd
03311311311222110002  3036887701840         Howe, Young and Bonilla
03311311313010113230  6231472685300       Woods, Skinner and Vargas
03311311313010103012  3320663623520                     Owens-Watts
03311311311233132011  9817301315924     Young, Mcmillan and Donovan
03311311311222033331  2154804583350                       Floyd Ltd
03311311311233103130  5663566173626                    Potter-Lewis
03311311313011033132  0286128171043                      Brooks PLC
03311311311233330030  5543855260701                Armstrong-Wright
03311311313011230030  0194508413966         Alvarez, Cobb and Davis
03311311313010320333  3507299372184                   Mccarthy-Soto
03311311311233300203  9865174780056                        Cole Inc
03311311313010230120  0890714131414                   Hernandez Ltd
03311311313011322102  5036475651385                Williams-Jackson
03311311311233011001  6240079857390        Love, Rogers and Johnson
03311311311222310112  2663736762182                 Mcintyre-Decker
03311311311222102222  4534759197808  Wheeler, Blackburn and Johnson
03311311313011102222  7552974060793                   Carlson-Patel
03311311313010111011  7223687772752                        Lamb LLC
03311311313010313310  9359722701028   Johnson, Bentley and Petersen

[500 rows x 2 columns]