# Reading from External Databases
*Using SQL Alchemy Python library and Iguazio Frames library*

1. [Overview](#Overview)
2. [Set Up](#Set-Up)
3. [Reading From MySQL](#Reading-From-MySQL)
4. [Reading From PostgreSQL](#Reading-From-PostgreSQL)
5. [Reading From Oracle](#Reading-From-Oracle)
6. [Reading From SQL Server](#Reading-From-SQL-Server)
7. [Cleanup](#Cleanup)

# Overview

In this notebook,  let's walk through how to: <br>
* Use SQL Alchemy Python library to Load Data from External Databases
* Use Iguazio Frames library for High-Performance Data Access.

**SQL Alchemy**

SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.  <br>

For more details read [SQL Alchemy](https://www.sqlalchemy.org/) <br>

**Iguazio Frames**

Iguazio `v3io_frames` (Frames) is a streaming oriented multi-model (generic) data API that enables high-speed data loading and storing. <br>
Frames currently support Iguazio Key/Value, Time-Series, and Streaming data models (called backends), additional backends will be added. <br>

For more details refer to [Frames](frames.ipynb) <br>

# Set UP
Import all packages used in this exercise. <br>

In [1]:
import os
import pandas as pd
import v3io_frames as v3f
from sqlalchemy.engine import create_engine

## Create an Iguazio Frames' client
* Specify Data Container to _`users`_
* Assign the Data Container Access Key

In [2]:
%time
client = v3f.Client('framesd:8081', container='users')

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.72 µs

## Initiate a SQL Alchemy engine
The engine creates a `Dialect` object tailored towards the database instance (DB_INSTANCE), as well as a `Pool` object that will establish a `DBAPI` connection at database's host:port (DB_HOST:DB_PORT) when a connection request is first received. <br>

**Database URL** : <br>
The typical form of a database URL is:
*dialect+driver://username:password@host:port/database* <br>
e.g. <br>
`mysql+pymysql://scott:tiger@localhost/foo` <br>

For more details read [SQL Alchemy Database URL](https://docs.sqlalchemy.org/en/latest/core/engines.html#database-urls)

**Engine Initialization template** : <br>
*engine = create_engine('DATABASE_URL')* <br>
e.g. <br>
`engine = create_engine('mysql+pymysql://scott:tiger@localhost/foo')` <br>

For more details read [SQL Alchemy Engine Configuration](https://docs.sqlalchemy.org/en/latest/core/engines.html#engine-configuration)

# Reading From MySQL
In this MySQL experiment, the codes demonstrate how to load data from external databases
in the following two methods:

* A generic example of reading data in chunks using Python library SQLAlchemy
* A specific example of reading a table from mysql as a bulk operation

For more details read [MySQL dialet](https://docs.sqlalchemy.org/en/latest/core/engines.html#mysql) <br>

In the example below we are using a public MySQL database called [Rfam](https://rfam.readthedocs.io/en/latest/database.html). <br>

The idea is to read data by chunks and then write it to a NoSQL table in Iguazio Data Container.  Working in chunks is a divide and conquer algorithm for handling big datasets that cannot fit into the available memory resources. <br>

## Reading Data in Chunks Using Python library SQLAlchemy

### Initiate a SQL Alchemy Engine for MySQL

In [3]:
%time
mySQL_URL = 'mysql+pymysql://rfamro@mysql-rfam-public.ebi.ac.uk:4497/Rfam'
engine = create_engine(mySQL_URL)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 6.2 µs

### Prepare a SQL Query

In [4]:
%time
query = 'select rfam_acc,rfam_id,auto_wiki,description,author,seed_source FROM family'

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.87 µs

### Create a Pandas DataFrame to Retreive Data with Specified Chunk size

In [5]:
%time

CHUNK_SIZE = 100000

all_df = pd.read_sql(query,engine,chunksize = CHUNK_SIZE)

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 5.96 µs

### Use Iguazio Frames to Persist Each Data Chunks into an Iguazio KV store

In [6]:
%time

tablename = os.path.join(os.getenv('V3IO_USERNAME')+'/examples/family')
backend = 'kv'

for df in all_df:
    df = df.reset_index()
    out = client.write(backend, tablename, df)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.2 µs

### Use Iguazio Frames to Read from Iguazio KV Store

In [7]:
%time

client.read(backend, tablename)

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 5.72 µs

,author,auto_wiki,description,index,rfam_acc,rfam_id,seed_source
idx,,,,,,,
0,"Griffiths-Jones SR, Mifsud W, Gardner PP",1302,5S ribosomal RNA,0,RF00001,5S_rRNA,"Szymanski et al, 5S ribosomal database, PMID:1..."
1860,Boursnell C,1287,microRNA mir-999,1860,RF01943,mir-999,Predicted; ClustalW2
468,Griffiths-Jones SR,1742,Yeast U1 spliceosomal RNA,468,RF00488,U1_yeast,"Zwieb C, The uRNA database, PMID:9016512"
2144,Eberhardt R,1285,Xanthomonas sRNA asX2,2144,RF02236,asX2,Predicted; CMfinder
660,Wilkinson A,1902,microRNA mir-137,660,RF00694,mir-137,miRBase; Wilkinson A
...,...,...,...,...,...,...,...
1054,Wilkinson A,1651,Pseudoknot of upstream pseudoknot domain (UPD)...,1054,RF01113,BMV3_UPD-PK3,Pseudobase
2745,"Argasinska J, Repoila F",2426,Enterococcus sRNA 1C,2745,RF02845,Ref1C,Argasinska J
644,Wilkinson A,1287,microRNA mir-140,644,RF00678,mir-140,miRBase; Wilkinson A
2916,Weinberg Z,2572,RT-12 RNA,2916,RF03016,RT-12,Weinberg Z
360,Moxon SJ,2396,Small nucleolar RNA U6-53/MBII-28,360,RF00377,snoU6-53,"Moxon SJ, INFERNAL"

## Reading a Table from MySQL as a Bulk Operation

### Install pymysql
pymysql is Python MySQL client library

### Create a Database Connection to MySQL

Reading from MySQL as a bulk operation using pandas DataFrames.

**NOTE** If this notebook runs in AWS Cloud: AWS S3 provides **eventual consistency**. Therefore, it takes time for users using the persisted data and software package.

In [8]:
import pymysql

%time

conn = pymysql.connect(
    host=os.getenv('DB_HOST','mysql-rfam-public.ebi.ac.uk'),
    port=int(4497),
    user=os.getenv('DB_USER','rfamro'),
    passwd=os.getenv('DB_PASSWORD',''),
    db=os.getenv('DB_NAME','Rfam'),
    charset='utf8mb4')

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 6.2 µs

### Read Data into a Pandas DataFrame

Pandas DataFrame natively supports for reading and writing to various SQL databases. <br>

Use [pd.read_sql_query()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql_query.html) or [pd.read_sql()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html) to read the database table into a DataFrame.   Once we have a DataFrame object we can manipulate it and store it into Iguazio KV store or Time-Series tables. <br>

In [9]:
%time

df = pd.read_sql_query(query, conn)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.48 µs

### Print Last 10 line in Pandas DF

In [10]:
%time

df.tail(10)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.72 µs

,rfam_acc,rfam_id,auto_wiki,description,author,seed_source
3006,RF03106,RT-11,2572,RT-11 RNA,Weinberg Z,Weinberg Z
3007,RF03107,saliva-tongue-1,2696,saliva-tongue-1 RNA,Weinberg Z,Weinberg Z
3008,RF03108,Methylosinus-1,2697,Methylosinus-1 RNA,Weinberg Z,Weinberg Z
3009,RF03109,Thermales-rpoB,2698,Thermales-rpoB RNA,Weinberg Z,Weinberg Z
3010,RF03110,throat-1,2699,throat-1 RNA,Weinberg Z,Weinberg Z
3011,RF03111,Zeta-pan,2700,Zeta-pan RNA,Weinberg Z,Weinberg Z
3012,RF03112,Staphylococcus-1,2701,Staphylococcus-1 RNA,Weinberg Z,Weinberg Z
3013,RF03113,Poribacteria-1,2702,Poribacteria-1 RNA,Weinberg Z,Weinberg Z
3014,RF03114,RT-1,2572,RT-1 RNA,Weinberg Z,Weinberg Z
3015,RF03115,KDPG-aldolase,2703,KDPG-aldolase RNA,Weinberg Z,Weinberg Z

### Write the Data from DF to Iguazio Key/Value Store

In [11]:
%time

tablename1 = os.path.join(os.getenv('V3IO_USERNAME')+'/examples/family1')

client.write(backend, tablename1, df)

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 9.3 µs

### Use Pandas Streaming Capabilities to oIngest Large Datasets 
Many Pandas inputs/outputs including SQL, CSV, as well as Iguazio Frames support chunking. <br>

With chunking feature, the driver forms a continuous iterator in order to reading/writing data chunk by chunk.  This requires to specify the `chunksize` (number of rows) which enables a DataFrame iterator.  This iterator can be passed as is to a DataFrame writer like Iguazio Frames. <br>

The following example will stream data from MySQL to Iguazio NoSQL API.

In [12]:
%time

tablename2 = os.path.join(os.getenv('V3IO_USERNAME')+'/examples/family2')
CHUNK_SIZE = 1000

dfIterator = pd.read_sql(query, conn, chunksize=CHUNK_SIZE)

client.write(backend, tablename2, dfIterator)

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 6.2 µs

In [13]:
%time

client.read(backend, tablename2)

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 5.72 µs

,author,auto_wiki,description,rfam_acc,rfam_id,seed_source
idx,,,,,,
1294,Wilkinson A,1265,CRISPR RNA direct repeat element,RF01361,CRISPR-DR48,Predicted; WAR; Wilkinson A
2450,Argasinska J,2357,Pseudoknot PSK3,RF02549,YFV_3UTR,Argasinska J
1673,Weinberg Z,2145,livK RNA,RF01744,livK,Published; PMID:20230605;
1538,Osuch I,1264,small nucleolar RNA snoR31,RF01606,plasmodium_snoR31,INFERNAL
855,Wilkinson A,1287,microRNA mir-787,RF00896,mir-787,miRBase; Wilkinson A
...,...,...,...,...,...,...
2196,Eberhardt R,1264,Tetrahymena snoRNA TtnuCD11,RF02288,TtnuCD11,Eberhardt R
2169,Daub J,2481,MAT2A 3'UTR stem loop B,RF02261,MAT2A_B,Published; PMID:21994249
2936,Weinberg Z,2658,osmY RNA,RF03036,osmY,Weinberg Z
2358,Eberhardt R,2342,Tombusvirus 3' cap-independent translation ele...,RF02457,Virus_CITE_2,Eberhardt R
1481,"Doniger T, Michaeli S, Unger R, Osuch I",2411,Trypanosomatid snoRNA TB8Cs2H1,RF01549,TB8Cs2H1,Predicted; WAR;

# Reading From PostgreSQL

*# default* <br>
The PostgreSQL dialect uses psycopg2 as the default DBAPI <br>
engine = create_engine('postgresql://scott:tiger@localhost/mydatabase') <br>
*# psycopg2* <br>
engine = create_engine('postgresql+psycopg2://scott:tiger@localhost/mydatabase') <br>

For more details read [PostgreSQL dialet](https://docs.sqlalchemy.org/en/latest/core/engines.html#postgresql)

In [14]:
!pip install psycopg2

E0311 13:43:38.993649557   27677 backup_poller.cc:132]       Run client channel backup poller: {"created":"@1583934218.993596815","description":"pollset_work","file":"src/core/lib/iomgr/ev_epoll1_linux.cc","file_line":242,"referenced_errors":[{"created":"@1583934218.993593368","description":"Bad file descriptor","errno":9,"file":"src/core/lib/iomgr/ev_epoll1_linux.cc","file_line":731,"os_error":"Bad file descriptor","syscall":"epoll_wait"}]}
Requirement already satisfied: psycopg2 in /User/.pythonlibs/jupyter/lib/python3.6/site-packages (2.8.4)

In [15]:
import psycopg2

postgresSQL_URL = 'postgresql+psycopg2://postgres:21@172.31.24.47:5432/public'
engine = create_engine(postgresSQL_URL)

In [8]:
query3 = 'select * from employees'

In [ ]:
df3 = pd.read_sql(query3,engine)

In [ ]:
print(df3)

In [ ]:
tablename3 = os.path.join(os.getenv('V3IO_USERNAME')+'/examples/employees')
backend = 'kv'
client.write(backend, tablename3, df3)

In [ ]:
client.read(backend, tablename3)

# Reading From Oracle

*# cx_oracle* <br>
The Oracle dialect uses cx_oracle as the default DBAPI <br>
engine = create_engine('oracle://scott:tiger@127.0.0.1:1521/sidname') <br>
engine = create_engine('oracle+cx_oracle://scott:tiger@tnsname') <br>

For more details read [Oracle dialet](https://docs.sqlalchemy.org/en/latest/core/engines.html#oracle)

In [9]:
!pip install cx_oracle==7.1.2

Collecting cx_oracle
  Downloading https://files.pythonhosted.org/packages/8e/94/6e9d03db620fa41df7f0e67c02230300abb8ee30c5aaf53ca6190aa00af6/cx_Oracle-7.1.2-cp36-cp36m-manylinux1_x86_64.whl (685kB)
    100% |################################| 686kB 25.7MB/s
Installing collected packages: cx-oracle
Successfully installed cx-oracle-7.1.2

import cx_oracle

oracle_URL = 'oracle://scott:tiger@hostIP:1521/dbname'
engine = create_engine(oracle_URL)

query = 'select * from table'

df = pd.read_sql(query,engine)

# Reading From SQL Server

*# pymssql* <br>
engine = create_engine('mssql+pymssql://scott:tiger@hostname:port/dbname') <br>

For more details read [SQL Server dialet](https://docs.sqlalchemy.org/en/latest/core/engines.html#microsoft-sql-server)

import pymssql

sqlServer_URL = 'mssql+pymssql://scott:tiger@hostname:port/dbname'
engine = create_engine(sqlServer_URL)

query = 'select * from table'

df = pd.read_sql(query,engine)

# Cleanup

## Remove Data Created for this Experiment

Use Frames' Client `delete` function to remove data in KV stores.

In [16]:
client.delete(backend, tablename)
client.delete(backend, tablename1)
client.delete(backend, tablename2)
client.delete(backend, tablename3)